// None box-shadow
* {
    box-shadow: none !important;
}

// DataTables
.table-principal td:last-child {
    text-align: center !important;
}

// Background logo
.brand-link {
    background-color: $first_white !important;
}